@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Trophy Prints! We can create collectable and personalized art using your PlayStation trophy Data!</p>
</div>
